


/* ************* main-partners ********************* */

.main-partners{
     width:100%; 
     padding:100px 0; 
     text-align: center;
}
.main-partners .title {
    color: #ffbb3f;
}
.main-partners h2{ 
    font-family: "Playfair Display"; 
    padding: 0 10%; 
    font-weight: 600;
    font-size: 50px; 
    line-height: 60px; 
    margin-bottom: 50px;
}
.main-partners .placeholder {
    overflow: hidden;
    position: relative;
}
.main-partners .placeholder::after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -5px;
    height: 2px;
    background-color: #ffbb3f;
}
.main-partners a{ 
    height: 56px; 
    line-height: 52px; 
    padding:0 40px; 
    display:inline-block; 
    color:#fff; 
    background: #ffbb3f; 
    font-weight:700; 
    border-radius: 56px; 
    box-shadow: 0 20px 30px rgba(0,0,0,0.05);
    border:2px solid transparent;
}
.main-partners p {
    font-size: 2.2rem;
    margin: 20px 0px;
    font-weight: 300;
}
/* ************* main-partners ********************* */






