
.contact {
    width: 100%;
    padding: 100px 0;
    text-align: center;
}

.contact h2 {
    font-family: "Playfair Display"; 
    padding: 0 10%; 
    font-weight: 600;
    font-size: 50px; 
    line-height: 60px; 
    margin-bottom: 50px;
}
.contact .placeholder {
    overflow: hidden;
    position: relative;
}
.contact .placeholder::after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -5px;
    height: 2px;
    background-color: #ffbb3f;
}
.title {
    color: #ffbb3f;
}
p {
    color: #7d7a7a;
    margin: 20px 0px;
    font-size: 1.6rem;
}
.contact p span {
    opacity: 0.6;
    font-size: 1.6rem;
}
b, strong {
    font-weight: 700;
    font-size: 1.6rem;
}

.contact .social a{
    font-size: 4.3rem;
    margin: 20px;
}
.contact .social i {
    color: #ffbb3f;
}