
.contact {
    width: 100%;
    padding: 100px 0;
    text-align: center;
}

.contact h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #3d404e;
    position: relative;
    padding-bottom: 30px;
    color: #9193a4;
}
.contact h2 {
    font-family: "Playfair Display";
    padding: 0 10%;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 50px;
}
p {
    color: #7d7a7a;
    margin-bottom: 15px;
    font-size: 1.6rem;
}
.contact p span {
    opacity: 0.6;
    font-size: 1.6rem;
}
b, strong {
    font-weight: 700;
    font-size: 1.6rem;
}
.contact p .mail {
    text-decoration: underline;
    margin-bottom: 40px;
    display: block;
    font-size: 1.6rem;
}
.contact h6:after {
    content: '';
    width: 30px;
    height: 3px;
    background: #ffbb3f;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -15px;
}
.contact p .map {
    line-height: 56px;
    padding: 10px 40px;
    display: inline-block;
    color: #fff;
    background: #ffbb3f;
    font-weight: 700;
    border-radius: 56px;
    box-shadow: 0 20px 30px rgb(0 0 0 / 5%);
    border: 2px solid transparent;
    position: relative;
    margin-top: 60px;
}