
/* FOOTER */
.footer{ width:100%;background:#3d404e; color:#fff;}
.footer p{ color:#fff;font-size: 1.6rem;}
.footer .footer-title{ font-size: 1.6rem; width:100%;  font-weight:700; color:#fff; position:relative; border-bottom:1px solid rgba(255,255,255,0.15); padding-bottom:20px; margin-bottom:20px;}
.footer .footer-title:after{ content:''; width:62px; height:1px; background:#ffbb3f; position:absolute; left:0; bottom:-1px;}
.footer .newsletter{ width:100%;  margin-bottom:20px;}
.footer .newsletter input[type="text"]{ width:70%;  margin-bottom:10px; border-radius: 0; color: #3d404e;}
.footer .newsletter button[type="submit"]{ width:28%; margin-bottom:10px; padding: 0; border-radius: 0;}
.footer .newsletter small{ width:100%;font-size: 1.6rem; }
.footer .video{  width: 100%;  position: relative;}
.footer .video img{ width: 100%; }
.footer .video .play-btn{ width: 66px;font-size: 2rem;padding: 15px ; display:inline-block; color:#fff; background: #ffbb3f; font-weight:700; border-radius: 66px; box-shadow: 0 20px 30px rgba(0,0,0,0.05); border:2px solid transparent; position: absolute; left: 50%; top: 50%; margin-left: -38px; margin-top: -38px; text-align: center;}
.footer .video .play-btn:after{content: ''; width: 86px; height: 86px; position: absolute; left: -12px; top: -12px; border-radius: 50%;  border: 10px solid rgba(0,0,0,0.3); }
.footer .video .play-btn:hover{ text-decoration: none; box-shadow: 0 20px 30px rgba(0,0,0,0.20);}
.footer .footer-menu{ width:100%;  margin:0; margin-top:-4px; padding:0;}
.footer .footer-menu li{ width:50%;  margin:0; margin-bottom:8px; padding:0; list-style:none;}
.footer .footer-menu li a{ font-size: 1.6rem; color:#fff;}
.footer .sub-footer{ width:100%; ; background:rgba(255,255,255,1); margin-top:40px; padding:20px 0;}
.footer .sub-footer .container{ font-size:12px; color:#7d7a7a;}
.footer .sub-footer .container a{font-size: 1.6rem; color:#7d7a7a; font-weight:700;}
.footer .sub-footer .container span{font-size: 1.6rem; color:#ffbb3f;}


@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) { 
	.footer .sub-footer .container{font-size: 11px;}
	.footer .sub-footer .text-right{ text-align: left;}
	.footer .sub-footer .col-xs-12{margin: 5px 0;}
}