/* ************* head ********************* */
section.head {
    width: 100%;
    height: 320px;
    background: url(../images/hero1.jpg) no-repeat center #000;
    position: relative;
    display: flex;
    align-items: end;
    }
    section.head::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    section.head h3 {
        margin-bottom: 90px;
        font-weight: 600;
        color: #fff !important;
        font-size: 40px;
        position: relative;
        z-index: 2;
    }
    section.head .container h3 span {
        color: #ffbb3f;
        font-size: 60px;
        margin-left: -5px;
        position: relative;
        z-index: 2;
    }
    /* ************* head ********************* */


    /* ************* breadcrumb-bar ********************* */

.breadcrumb-bar {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.breadcrumb-bar .breadcrumb {
    width: 100%;
    background: none;
    margin: 20px 0;
    padding: 0;
}
.breadcrumb-bar .breadcrumb li {
    color: #9193a4;
    font-size: 14px;
    margin: 0px 10px;
}
.breadcrumb-bar .breadcrumb li:before {
    content: "\f0d9";
    font-family: fontAwesome;
    padding: 0 15px;
    opacity: 0.5;
}
.breadcrumb-bar .breadcrumb li a {
    color: #9193a4;
}
.breadcrumb-bar .breadcrumb li:first-child:before{ display: none;}
.breadcrumb-bar .breadcrumb li a:hover{text-decoration: none; color: #ffbb3f;}
/* ************* breadcrumb-bar ********************* */