/*********************** Header **********************/
header {
    position: fixed !important;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 999999999999;
    }
    header .top-bar {
    background-image: url(../images/colorful-bar.jpg);
    width: 100%;
    padding: 2px;
    }
    header .TobBar {
        background-color: #3d404e;
    }
    header .TobBar ul li {
        margin-right: 20px;
        text-align: center !important;
    }
    header .TobBar ul li a {
        color: #fff;
        font-weight: 600;
        font-size: 2.2rem;
    }
    header img {
        width: 100%;
        object-fit: contain;
    }
    header .links a,
    header .links span {
        color: #3d404e;
        font-weight: 700;
        font-size: 1.7rem;
        position: relative;
        display: block;
        cursor: pointer;
        padding: 7px 0px;
    }
    header .links a:hover,
    header .links span:hover  {
        color: #ffbb3f;
    }
    header .links a::after,
    header .links span::after  {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 2px;
        width: 0;
        background-color: #ffbb3f;
    }
    header .links a:hover::after ,
    header .links span:hover::after {
        width: 100%;
        transition: 0.4s;
    }
    header .offcanvas-body {
        background-color:#9193a4 ;
    }
    header .offcanvas-body li a {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 600;
    }
    header .icon-bar {
        background: #ffbb3f;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        margin: 5px 0px;
    }
    header button {
        border: none !important;
        box-shadow: none !important;
    }
    header .links a,
    header .links span {
        color: #fff !important;
        font-size: 1.8rem !important;
    }
    .dropdown-menu {
        border: none !important;
    }
    .dropdown-menu,.dropdown-menu:hover a {
        background-color: transparent !important;
    }
    .dropdown-menu:hover a::after{
        display: none;
    }
    .dropdown-menu:hover a{
        color: white !important;
        cursor: pointer;
    }
    #offcanvasNavbar a {
        color: white !important;
    }
    #goToTop {
        position: fixed;
        bottom: 30px;
        right: 30px;
        color: #fff;
        background-color: #8a39ee;
        padding: 10px 15px;
        cursor: pointer;
    }
    #goToTop i {
        font-size: 1.5rem;
    }
    #goToTop {
        opacity: 0;
    }
    .logo-dark {
        display: none;
    }
    header.active {
        background-color: #fff;
        border-bottom: 2px solid #eee;
    }
    header.active nav a,
    header.active .links span {
        color: #333 !important;
    }
    header.active .logo-dark {
        display: block;
    }
    header.active .logo-light {
        display: none;
    }
    /*********************** Header **********************/







