

/* ********** Home ************************ */
#carouselExampleCaptions img {
min-height: 90vh;
max-height: 100vh;
object-fit: cover;
vertical-align: middle;
transform: translate3d(0px, 0px, 0px) scale(1.5, 1.5)
}
.carousel-indicators [data-bs-target] {
background-color: #eee !important;
} 
.carousel-indicators [data-bs-target].active {
    background-color: #ffbb3f !important;
}


#demoType {
    font-size: 4rem;
    font-weight: 600;
    word-spacing: 6px;
    text-shadow: 1px 1px 1px;
 }

@media (max-width: 768px) {
    #demoType {
    font-size: 2.3rem;
    font-weight: 400 ;
 }
}


.carousel-item {
    position: relative;
}
.carousel-caption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ********** Home ************************ */

/* ************** highlights ************************* */
section.highlights {
    background-color: #fff;
    padding: 20px 0px;
    text-align: center;
}
section.highlights h2 {
    font-family: "Playfair Display";
    padding: 0 10%;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 50px;
    font-weight: 500;
}
section.highlights img {
    width: 100px;
    display: inline-block;
    margin-bottom: 20px;
}
section.highlights h4 {
    font-size: 2.7rem;
    font-weight: 600;
    color: #8a39ee;
    padding-bottom: 18px;
    margin-bottom: 11px;
    position: relative;
}
section.highlights h4:before {
    content: '';
    width: 6px;
    height: 6px;
    background: #ffbb3f;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 50%;
}
section.highlights p {
    font-size: 1.7rem;
    line-height: 22px;
    color: #7d7a7a;
}

section.highlights a {
    font-size: 1.8rem;
    padding: 10px 40px;
    display: inline-block;
    color: #fff;
    background: #ffbb3f;
    font-weight: 700;
    border-radius: 56px;
    box-shadow: 0 20px 30px rgb(0 0 0 / 5%);
    border: 2px solid transparent;
    margin: 15px 0px;
}


/* ************** highlights ************************* */


/* ************ featured-services *********************** */

section.featured-services {
    width: 100%;
    padding: 20px 0px;
    background: url(../images/hero1.jpg) center no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
section.featured-services:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #8a39ee;
    opacity: 0.8;
}
section.featured-services .container {
    position: relative;
    z-index: 2;
}
section.featured-services h2 {
    font-family: "Playfair Display";
    padding: 0;
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 30px;
    color: #fff;
}
section.featured-services i {
    padding: 10px 20px;
    border: 3px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    font-size: 32px;
    margin-bottom: 60px;
    color: #ffbb3f;
    text-align: center;
}
section.featured-services h4 {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    font-family: "Playfair Display";
    position: relative;
    padding-bottom: 15px;
}
.featured-services h4:after {
    content: '';
    width: 20px;
    height: 2px;
    background: #ffbb3f;
    position: absolute;
    right:0px;
    bottom: 0;
}
section.featured-services p {
    font-size: 1.6rem;
    color: #fff;
}
/* ************ featured-services *********************** */




/* ************ our-skills *********************** */

section.our-skills{
    width: 100%;
    padding: 20px 0px;
    background: #eeeff6;
}
section.our-skills h2{
     font-family: "Playfair Display"; 
     padding: 0; 
     font-size: 44px; 
     line-height: 56px; 
     margin-bottom: 30px;
}
section.our-skills p{ 
    display: block; 
    font-size: 17px; 
    margin-bottom: 50px;
}
section.our-skills .video{ 
    margin-left: -100px; 
    position: relative;
}
section.our-skills .video img{ 
    width: 100%; 
    box-shadow: 0 20px 30px rgba(0,0,0,0.20);
}
section.our-progress{ 
    width:100%;
}
.our-progress .image{ 
    width:100%;
     margin-bottom:20px;
}
.our-progress p{ 
    margin-bottom:20px;
}
.our-progress small {
    font-size: 1.5rem;
}
/* PROGRESS BAR */
.progress{ width:100%; height:8px;  box-shadow:none;}
.progress .progress-bar{ width:100%;  background:#ffbb3f; box-shadow:none;}
.animated.first{ width:100% !important;}
.animated.second{ width:100% !important;}
.animated.third{ width:100% !important;}

/* ************ our-skills *********************** */



/* ************ left-side-content *********************** */
section.left-side-content {
    width: 100%;
    padding: 70px 0px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
section.left-side-content .side-image {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 50%;
    top: 0;
    background: #ffbb3f;
    overflow: hidden;
}
section.left-side-content h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #3d404e;
    position: relative;
    padding-bottom: 30px;
    color: #9193a4;
}
section.left-side-content h2 {
    font-family: "Playfair Display";
    padding: 0;
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 30px;
}
section.left-side-content p {
    display: block;
    font-size: 17px;
    margin-bottom: 50px;
}
section.left-side-content a {
    font-size: 1.6rem;
    padding: 10px 40px;
    display: inline-block;
    color: #fff;
    background: #ffbb3f;
    font-weight: 700;
    border-radius: 56px;
    box-shadow: 0 20px 30px rgb(0 0 0 / 5%);
    border: 2px solid transparent;
}
section.left-side-content .content-image {
    margin-left: -100px;
    position: relative;
}
section.left-side-content .content-image img {
    width: 100%;
    box-shadow: 0 20px 30px rgb(0 0 0 / 20%);
}
section.left-side-content .side-image:after {
    content: '';
    width: 100%;
    height: 100%;
    background: url(../images/right-image-mask.png) left top no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    background-size: auto 100%;
}
section.left-side-content .side-image .bg-image{
    max-width: inherit;
    min-width: 100%;
    min-height: 100%; 
    width: 100%; 
    -o-object-fit: cover; 
    object-fit: cover; 
    display: block; 
    mix-blend-mode: soft-light; 
    -webkit-filter: grayscale(100%) contrast(1); 
    filter: grayscale(100%); 
    opacity: 0.2;
}

/* ************ left-side-content *********************** */

/* ************ right-side-content{ *********************** */
section.right-side-content{
     width: 100%; 
     padding: 70px 0px;
    position: relative; 
    overflow:hidden;
    background-color: #fff;
}
section.right-side-content .side-image{
     width: 50%; 
     height: 100%; 
     position: absolute; 
     right: 0; 
     top: 0; 
     background: #ffbb3f; 
     overflow: hidden;
}
section.right-side-content .side-image:after{
    content: ''; 
    width: 100%; 
    height: 100%; 
    background: url(../images/right-image-mask.png) left top no-repeat; 
    position: absolute; 
    right: 0; 
    top: 0; 
    background-size: auto 100%;
}
section.right-side-content .side-image .bg-image{
     max-width: inherit; 
     min-width: 100%; 
     min-height: 100%; 
     width: 100%; 
     -o-object-fit: cover; 
     object-fit: cover; 
     display: block; 
     mix-blend-mode: soft-light; 
     -webkit-filter: grayscale(100%) contrast(1); 
     filter: grayscale(100%); opacity: 0.2;
}
section.right-side-content h2{ 
    font-family: "Playfair Display"; 
    padding: 0; 
    font-size: 44px; 
    line-height: 56px; 
    margin-bottom: 30px;
    text-align: end;
}
section.right-side-content p{ 
    display: block; 
    font-size: 17px; 
    margin-bottom: 50px;
}
section.right-side-content .content-image{ 
    margin-right: -100px; 
    position: relative;
}
section.right-side-content .content-image img{ 
    width: 100%; 
    box-shadow: 0 20px 30px rgba(0,0,0,0.20);
}
section.right-side-content a{ 
    font-size: 1.6rem;
    line-height: 52px; 
    padding:10px 40px; 
    display:inline-block; 
    color:#fff; 
    background: #ffbb3f; 
    font-weight:700; 
    border-radius: 56px; 
    box-shadow: 0 20px 30px rgba(0,0,0,0.05); 
    border:2px solid transparent;
}
section.right-side-content a:hover{ 
    background: #fff; 
    color: #ffbb3f; 
    border: 2px solid #ffbb3f; 
    text-decoration: none;
}
/* ************ right-side-content *********************** */

/* ************ left-side-content*********************** */
section.left-side-content{
    width: 100%; 
    padding: 70px 0px;
    position: relative; 
    overflow:hidden;
    background-color: #fff;
}
section.left-side-content .side-image{
    width: 50%;
    height: 100%; 
    position: absolute; 
    right: 50%; 
    top: 0; 
    background: #ffbb3f; 
    overflow: hidden;
}
section.left-side-content .side-image:after{
    content: ''; 
    width: 100%; 
    height: 100%; 
    background: url(../images/left-image-mask.png) right top no-repeat; 
    position: absolute; 
    right: 0; 
    top: 0; 
    background-size: auto 100%;
}
section.left-side-content .side-image .bg-image{ 
    max-width: inherit; 
    min-width: 100%; 
    min-height: 100%; 
    width: 100%; 
    -o-object-fit: cover; 
    object-fit: cover; 
    display: block; 
    mix-blend-mode: soft-light; 
    -webkit-filter: grayscale(100%) contrast(1); 
    filter: grayscale(100%); 
    opacity: 0.2;
}
section.left-side-content h2{
     font-family: "Playfair Display"; 
     padding: 0; 
     font-size: 44px; 
     line-height: 56px; 
     margin-bottom: 30px;
}
section.left-side-content p{
     display: block; 
     font-size: 17px;
    margin-bottom: 50px;
}
section.left-side-content .content-image{
     margin-left: -100px; 
     position: relative;
}
section.left-side-content .content-image img{
     width: 100%; 
     box-shadow: 0 20px 30px rgba(0,0,0,0.20);
}
/* ************ left-side-content *********************** */




.headDiv {
    color: #333;
    position: relative;
}

.headDiv::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ffbb3f;
}




@media (max-width: 768px) {
    section {
        padding: 20px 0px !important;
    }

    section.right-side-content .text-start {
        text-align: start !important;
    }  
    section.right-side-content .text-start h2 {
        text-align: start !important;
    } 
}




@media (max-width: 768px) {
    header .TobBar ul li a  {
        font-size: 1.3rem;
    } 
    header .links a {
        font-size: 1.5rem;
    }
    #carouselExampleCaptions img {
        min-height: 100vh;
    }
    section.left-side-content .side-image,
    section.right-side-content .side-image {
        display: none !important;
    }
    section.left-side-content .side-image:after,
    section.right-side-content .side-image:after{
        display: none !important;
    }

    
}
 
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	h2{font-size: 30px !important; line-height: 42px !important; padding: 0 !important;}
	h6{ font-size: 12px !important;}
	.navbar-default .navbar-brand img{height: 30px;}
	.navbar-default .top-bar .social-text{margin-left: 0;}
	.navbar-toggle{margin-top: 22px; border: none;}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background: none;}
	.navbar-default .navbar-toggle .icon-bar{ background: #fff;}
	.navbar-default.fixed-active .navbar-toggle .icon-bar{ background: #ffbb3f;}
	.navbar-default.fixed-active .since{display: none;}
	.cbp-spmenu{background: #9193a4; text-align: left; padding:20px 30px;}
	.cbp-spmenu .top-menu{ width: 100%;  margin: 0; margin-bottom: 20px; padding: 0;}
	.cbp-spmenu .top-menu li{ width: 100%;  margin: 3px 0; padding: 0; list-style: none;}
	.cbp-spmenu .top-menu li a{ color: #fff; font-size: 14px;}
	.cbp-spmenu .navbar-nav{ width: 100%;  margin: 0; padding: 0;}
	.cbp-spmenu .navbar-nav li{ width: 100%;  margin: 5px 0; padding: 0; list-style: none;}
	.cbp-spmenu .navbar-nav li a{ margin: 0; padding: 0; color: #fff !important;}
	.cbp-spmenu .navbar-nav li a:after{display: none;}
	.cbp-spmenu .navbar-nav li .dropdown-menu{ background: none !important; border:none !important; padding: 0; margin-bottom: 10px; padding-left: 10px;}
	.cbp-spmenu .navbar-nav li .dropdown-menu li{ width: 100%;  margin: 0; padding: 0;}
	.cbp-spmenu .navbar-nav li .dropdown-menu li a{padding: 0; margin: 2px 0; font-size: 12px;}
	.cbp-spmenu .search{  color: #fff !important;}
	.gallery ul li{ width: 100%;}
	.gallery ul li.big{ width: 100%;}
	.partners ul li{ width: 100%;}
	.our-offices .office-box{ width: 100%;}
	.support .support-box{text-align: center;}
	.support .support-box img{  margin-bottom: 10px;}
	.latest-news .news-box{margin-bottom: 30px;}
	.career .position-list li h5{ margin-bottom: 10px;}
	.pricing .price-box{ width: 90%; margin: 15px 5%;}
	.pricing .price-box.recommended{ margin-top:30px; }
	.blog .sidebar{padding-left: 0;}
	.blog .sidebar .widget{padding: 25px 0; border-left: 0;}
	.search-box.active{ z-index: 9999;}
	.search-box form{ padding: 0; text-align: center;}
	.search-box form input[type="text"]{ width: 100%; text-align: center;}
	.search-box form button[type="submit"]{ display: inline-block; }
}
 