@font-face {
font-family: 'Roboto-Bold';
src: url(/font/Roboto-Bold.ttf) format('woff2');
font-display: fallback;
}

@font-face {
font-family: 'Roboto';
src: url(/font/Roboto-Light.ttf) format('woff2');
font-display: fallback;
}

    
*{
margin: 0px;
padding: 0px;
box-sizing: border-box !important;
outline: none !important;
border: none;
text-transform: capitalize !important;
word-break: 1.5px !important;
line-height: 1.6 !important;
text-decoration: none !important;
list-style: none;
transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
   
html {
font-family: 'Roboto';
font-size: 60%;
scroll-behavior: smooth !important;
margin: 0px !important;
padding: 0px !important;
overflow-x: hidden !important;
}
body {
    min-height: 200vh;
}
/*********************** Header **********************/
header {
position: fixed !important;
top: 0px;
left: 0px;
right: 0px;
width: 100%;
z-index: 999999999999;
}
header .top-bar {
background-image: url(../images/colorful-bar.jpg);
width: 100%;
padding: 2px;
}
header .TobBar {
    background-color: #3d404e;
}
header .TobBar ul li {
    margin-right: 20px;
}
header .TobBar ul li a {
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
}
header img {
    width: 100%;
    padding: 15px;
}
header .links a {
    color: #3d404e;
    font-weight: 700;
    font-size: 1.7rem;
    position: relative;
    display: block;
    padding: 10px;
}
header .links a:hover {
    color: #ffbb3f;
}
header .links a::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 2px;
    width: 0;
    background-color: #ffbb3f;
}
header .links a:hover::after {
    width: 100%;
    transition: 0.4s;
}
header .offcanvas-body {
    background-color:#9193a4 ;
}
header .offcanvas-body li a {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}
header .icon-bar {
    background: #ffbb3f;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 5px 0px;
}
header button {
    border: none !important;
    box-shadow: none !important;
}
/* header .navbar {
    background-color: #fff;
} */
header .links a {
    color: #fff;
}
/*********************** Header **********************/

/* ********** Home ************************ */
#carouselExampleCaptions img {
min-height: 90vh;
max-height: 100vh;
object-fit: cover;
vertical-align: middle;
transform: translate3d(0px, 0px, 0px) scale(1.5, 1.5)
}
.carousel-indicators [data-bs-target] {
background-color: #eee !important;
} 
.carousel-indicators [data-bs-target].active {
    background-color: #ffbb3f !important;
}
.carousel-item {
    position: relative;
}
.carousel-caption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ********** Home ************************ */

/* ************** highlights ************************* */
section.highlights {
    background-color: #fff;
    padding: 100px 0px;
    text-align: center;
}
section.highlights h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #3d404e;
    position: relative;
    padding-bottom: 30px;
    color: #9193a4;
}
section.highlights h6::after {
    content: '';
    width: 30px;
    height: 3px;
    background: #ffbb3f;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -15px;
}
section.highlights h2 {
    font-family: "Playfair Display";
    padding: 0 10%;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 50px;
    font-weight: 500;
}
section.highlights img {
    width: 100px;
    display: inline-block;
    margin-bottom: 20px;
}
section.highlights h4 {
    font-size: 14px;
    font-weight: 600;
    color: #8a39ee;
    padding-bottom: 18px;
    margin-bottom: 11px;
    position: relative;
}
section.highlights h4:before {
    content: '';
    width: 6px;
    height: 6px;
    background: #ffbb3f;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 50%;
}
section.highlights p {
    font-size: 1.7rem;
    line-height: 22px;
    color: #7d7a7a;
}
/* ************** highlights ************************* */

/* ************ video-intro *********************** */

section.video-intro {
    background-color: #fff;
    width: 100%;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}
.video-intro .col-md-4 {
    position: relative;
    z-index: 4;

}
section.video-intro h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #3d404e;
    position: relative;
    padding-bottom: 30px;
    color: #9193a4;
}
section.video-intro h6:after {
    content: '';
    width: 30px;
    height: 3px;
    background: #ffbb3f;
    position: absolute;
    left: 0;
    bottom: 0;
}
section.video-intro h2 {
    font-family: "Playfair Display";
    padding: 0;
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 20px;
}
section.video-intro p {
    font-size: 1.7rem;
    color: #7d7a7a;
    margin-bottom: 15px;
}
section.video-intro .watch-btn {
    font-size: 1.5rem;
    line-height: 52px;
    padding: 15px 30px;
    display: inline-block;
    color: #fff;
    background: #ffbb3f;
    font-weight: 700;
    border-radius: 56px;
    box-shadow: 0 20px 30px rgb(0 0 0 / 5%);
    border: 2px solid transparent;
    vertical-align: middle !important;
}
section.video-intro .watch-btn:hover{
background: #fff;
color: #ffbb3f;
border: 2px solid #ffbb3f;
text-decoration: none;
}
section.video-intro .video {
    position: relative;
    z-index: 3;
}
section.video-intro .video img {
    width: 100%;
    box-shadow: 0 20px 30px rgb(0 0 0 / 20%);
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
    padding: 10px;
}
section.video-intro .play-btn {
    padding: 15px 25px;
    display: inline-block;
    color: #fff;
    background: #8a39ee;
    font-weight: 700;
    border-radius: 76px;
    box-shadow: 0 20px 30px rgb(0 0 0 / 5%);
    border: 2px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -38px;
    margin-top: -38px;
    text-align: center;
    font-size: 20px;
}
section.video-intro:before{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute; 
    left: 50%; 
    top: 0; 
    background: url(../images/right-bg.jpg) no-repeat bottom; 
    background-size: auto 100%; 
    z-index: 2;
}
section.video-intro:after{
    content: ''; 
    width: 100%; 
    height: 100%; 
    background: url(../images/right-image-mask.png) left top no-repeat; 
    position: absolute; 
    left: 50%; 
    top: 0; 
    z-index: 2; 
    background-size: auto 100%;
}



/* ************ video-intro *********************** */

/* ************ intro *********************** */
section.intro  {
    background-color: #fff;
    width: 100%;
    padding: 100px 0;
    text-align: center;
}
section.intro h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #3d404e;
    position: relative;
    padding-bottom: 30px;
    color: #9193a4;
}
section.intro h6:after {
    content: '';
    width: 30px;
    height: 3px;
    background: #ffbb3f;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -15px;
}
section.intro h2 {
    font-family: "Playfair Display";
    padding: 0 10%;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 50px;
}
section.intro a {
    font-size: 1.6rem;
    line-height: 52px;
    padding: 15px 40px;
    display: inline-block;
    color: #fff;
    background: #ffbb3f;
    font-weight: 700;
    border-radius: 56px;
    box-shadow: 0 20px 30px rgb(0 0 0 / 5%);
    border: 2px solid transparent;
}
/* ************ intro *********************** */

/* ************ featured-services *********************** */

section.featured-services {
    width: 100%;
    padding: 100px 0px;
    background: url(../images/hero1.jpg) center no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
section.featured-services:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #8a39ee;
    opacity: 0.8;
}
section.featured-services .container {
    position: relative;
    z-index: 2;
}
section.featured-services h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #3d404e;
    position: relative;
    padding-bottom: 30px;
    color: rgba(255,2555,255,0.5);
}
section.featured-services h2 {
    font-family: "Playfair Display";
    padding: 0;
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 120px;
    color: #fff;
}
section.featured-services i {
    padding: 10px 20px;
    border: 3px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    font-size: 32px;
    margin-bottom: 60px;
    color: #ffbb3f;
    text-align: center;
}
section.featured-services h4 {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    font-family: "Playfair Display";
    position: relative;
    padding-bottom: 15px;
}
.featured-services h4:after {
    content: '';
    width: 20px;
    height: 2px;
    background: #ffbb3f;
    position: absolute;
    left:0px;
    bottom: 0;
}
section.featured-services p {
    font-size: 14px;
    padding-right: 10%;
    color: #fff;
}
/* ************ featured-services *********************** */

/* ************ featured-services *********************** */
section.featured-solutions {
    width: 100%;
    background-color: #fff;
    padding: 100px 0px !important;
}
.featured-solutions h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #3d404e;
    position: relative;
    padding-bottom: 30px;
    color: #9193a4;
}
.featured-solutions h6:after {
    content: '';
    width: 30px;
    height: 3px;
    background: #ffbb3f;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -15px;
}
.featured-solutions h2 {
    font-family: "Playfair Display";
    padding: 0 10%;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 50px;
}
.featured-solutions .solution-box {
    width: 100%;
}
.featured-solutions .solution-box .image {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.featured-solutions .solution-box h4 {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #9193a4;
    text-transform: uppercase;
    position: relative;
    font-family: "Playfair Display";
}
.featured-solutions .solution-box h4:after {
    content: '';
    width: 30px;
    height: 3px;
    background: #ffbb3f;
    position: absolute;
    left: 0;
    bottom: 0;
}
.featured-solutions .solution-box p {
    line-height: 25px;
    padding-right: 10%;
    color: #7d7a7a;
    margin-bottom: 40px;
    font-size: 1.6rem;
}
.featured-solutions .solution-box .image img {
    width: 100%;
}
.featured-solutions a {
    font-size: 1.5rem;
    line-height: 52px;
    padding: 15px 40px;
    display: inline-block;
    color: #fff;
    background: #ffbb3f;
    font-weight: 700;
    border-radius: 56px;
    box-shadow: 0 20px 30px rgb(0 0 0 / 5%);
    border: 2px solid transparent;
}
.featured-solutions a:hover{
     background: #fff;
      color: #ffbb3f;
       border: 2px solid #ffbb3f;
        text-decoration: none;
}
 
/* ************ featured-services *********************** */


/* ************ quote *********************** */

section.quote {
    width: 100%;
    padding: 100px 0;
    position: relative;
    text-align: center;
}
section.quote .video-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
section.quote .video-bg video {
    min-width: 100%;
    min-height: 100%;
}
section.quote .container {
    position: relative;
    z-index: 2;
}
section.quote .container h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #3d404e;
    position: relative;
    padding-bottom: 30px;
    color: rgba(255,255,255,0.6);
}
section.quote .container h2 {
    font-family: "Playfair Display";
    padding: 0 10%;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 50px;
    color: #fff;
}
section.quote .container a {
    font-size: 1.6rem;
    line-height: 52px;
    padding: 10px 40px;
    display: inline-block;
    color: #fff;
    background: #8a39ee;
    font-weight: 700;
    border-radius: 56px;
    box-shadow: 0 20px 30px rgb(0 0 0 / 5%);
    border: 2px solid transparent;
}
section.quote:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffbb3f;
    opacity: 0.80;
}

/* ************ quote *********************** */

/* ************ featured-projects *********************** */

section.featured-projects {
    width: 100%;
    padding: 100px 0;
    background-color: #fff;
}
section.featured-projects h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #3d404e;
    position: relative;
    padding-bottom: 30px;
    color: #9193a4;
}
section.featured-projects h2 {
    font-family: "Playfair Display";
    padding: 0 10%;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 50px;
}
section.featured-projects .project-box {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
section.featured-projects .project-box img {
    width: 100%;
}
section.featured-projects .project-box:hover img{ -moz-transform: scale(1.1);  -webkit-transform: scale(1.1); transform: scale(1.1);}

section.featured-projects .project-box figcaption {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
    padding: 10% 20px;
}
section.featured-projects .project-box figcaption h4 {
    font-family: "Playfair Display";
    color: #fff;
    font-size: 40px;
    position: relative;
    padding-bottom: 20px;
}
section.featured-projects .project-box figcaption h4:after {
    content: "";
    width: 30px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ffbb3f;
}
section.featured-projects .project-box figcaption small {
    height: 22px;
    line-height: 22px;
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
}

/* ************ featured-projects *********************** */

/* ************ our-skills *********************** */

section.our-skills{
    width: 100%;
    padding: 100px 0;
    background: #eeeff6;
}
section.our-skills h6{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #3d404e; 
    position: relative; 
    padding-bottom: 30px; 
    color: #9193a4;
}
section.our-skills h6:after{
    content: ''; 
    width: 30px; 
    height: 3px; 
    background: #ffbb3f; 
    position: absolute; 
    left: 0; 
    bottom: 0;
}
section.our-skills h2{
     font-family: "Playfair Display"; 
     padding: 0; 
     font-size: 44px; 
     line-height: 56px; 
     margin-bottom: 30px;
}
section.our-skills p{ 
    display: block; 
    font-size: 17px; 
    margin-bottom: 50px;
}
section.our-skills .video{ 
    margin-left: -100px; 
    position: relative;
}
section.our-skills .video img{ 
    width: 100%; 
    box-shadow: 0 20px 30px rgba(0,0,0,0.20);
}
.our-skills a{ 
    font-size: 1.6rem;
    line-height: 52px; 
    padding:10px 40px; 
    display:inline-block; 
    color:#fff; 
    background: #ffbb3f; 
    font-weight:700; 
    border-radius: 56px; 
    box-shadow: 0 20px 30px rgba(0,0,0,0.05); 
    border:2px solid transparent;
}
section.our-skills a:hover{
     background: #fff; 
     color: #ffbb3f; 
     border: 2px solid #ffbb3f; 
     text-decoration: none;
}
section.our-progress{ 
    width:100%;
}
.our-progress .image{ 
    width:100%;
     margin-bottom:20px;
}
.our-progress p{ 
    margin-bottom:20px;
}
.our-progress small {
    font-size: 1.5rem;
}
/* PROGRESS BAR */
.progress{ width:100%; height:8px;  box-shadow:none;}
.progress .progress-bar{ width:100%;  background:#ffbb3f; box-shadow:none;}
.animated.first{ width:75% !important;}
.animated.second{ width:91% !important;}
.animated.third{ width:88% !important;}

/* ************ our-skills *********************** */

/* ************ testimonials *********************** */
section.testimonials {
    width: 100%;
    padding: 100px 0;
    background-color: #fff;
}
section.testimonials h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #3d404e;
    position: relative;
    padding-bottom: 30px;
    color: #9193a4;
}
section.testimonials h2 {
    font-family: "Playfair Display";
    padding: 0 20%;
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 30px;
}
section.testimonials .testimonial-box {
    width: 70%;
    text-align: center;
    padding: 20px 30px;
    margin: 50px 15%;
    box-shadow: 0 20px 30px rgb(0 0 0 / 5%);
    border: 1px solid rgba(0,0,0,0.05);
    position: relative;
}
section.testimonials .testimonial-box .head {
    width: 100px;
    display: inline-block;
    position: relative;
}
section.testimonials .testimonial-box .head:after {
    content: "\f10e";
    width: 36px;
    height: 36px;
    display: inline-block;
    background: #ffbb3f;
    font-family: FontAwesome;
    font-size: 13px;
    line-height: 34px;
    border-radius: 50%;
    border: 3px solid #fff;
    color: #fff;
    transform: translateY(-15px);
}
section.testimonials .testimonial-box .head img {
    width: 100px;
    border-radius: 50%;
}
section.testimonials .testimonial-box h5 {
    font-size: 22px;
    font-weight: 700;
}
section.testimonials .testimonial-box small {
    display: block;
    font-family: Fjalla One;
    color: #7d7a7a;
    margin-bottom: 10px;
    font-size: 1.6rem;
}
section.testimonials .testimonial-box .rates {
    display: block;
    margin-bottom: 20px;
}
section.testimonials .testimonial-box .rates i {
    display: inline-block;
    font-size: 13px;
    color: #ffbb3f;
}
section.testimonials p {
    color: #7d7a7a;
    margin-bottom: 15px;
    font-size: 1.7rem;
}
section.testimonials .testimonial-box:after {
    content: '';
    position: absolute;
    left: 10%;
    bottom: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #fff transparent transparent transparent;
}
/* ************ testimonials *********************** */

/* ************ left-side-content *********************** */
section.left-side-content {
    width: 100%;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
section.left-side-content .side-image {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    background: #ffbb3f;
    overflow: hidden;
}
section.left-side-content h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #3d404e;
    position: relative;
    padding-bottom: 30px;
    color: #9193a4;
}
section.left-side-content h2 {
    font-family: "Playfair Display";
    padding: 0;
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 30px;
}
section.left-side-content p {
    display: block;
    font-size: 17px;
    margin-bottom: 50px;
}
section.left-side-content a {
    font-size: 1.6rem;
    padding: 10px 40px;
    display: inline-block;
    color: #fff;
    background: #ffbb3f;
    font-weight: 700;
    border-radius: 56px;
    box-shadow: 0 20px 30px rgb(0 0 0 / 5%);
    border: 2px solid transparent;
}
section.left-side-content .content-image {
    margin-left: -100px;
    position: relative;
}
section.left-side-content .content-image img {
    width: 100%;
    box-shadow: 0 20px 30px rgb(0 0 0 / 20%);
}
section.left-side-content .side-image:after {
    content: '';
    width: 100%;
    height: 100%;
    background: url(../images/right-image-mask.png) left top no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    background-size: auto 100%;
}
section.left-side-content .side-image .bg-image{
    max-width: inherit;
    min-width: 100%;
    min-height: 100%; 
    width: 100%; 
    -o-object-fit: cover; 
    object-fit: cover; 
    display: block; 
    mix-blend-mode: soft-light; 
    -webkit-filter: grayscale(100%) contrast(1); 
    filter: grayscale(100%); 
    opacity: 0.2;
}
/* ************ left-side-content *********************** */

/* ************ right-side-content{ *********************** */
section.right-side-content{
     width: 100%; 
    padding: 100px 0; 
    position: relative; 
    overflow:hidden;
    background-color: #fff;
}
section.right-side-content .side-image{
     width: 50%; 
     height: 100%; 
     position: absolute; 
     left: 0; 
     top: 0; 
     background: #ffbb3f; 
     overflow: hidden;
}
section.right-side-content .side-image:after{
    content: ''; 
    width: 100%; 
    height: 100%; 
    background: url(../images/left-image-mask.png) right top no-repeat; 
    position: absolute; 
    left: 0; 
    top: 0; 
    background-size: auto 100%;
}
section.right-side-content .side-image .bg-image{
     max-width: inherit; 
     min-width: 100%; 
     min-height: 100%; 
     width: 100%; 
     -o-object-fit: cover; 
     object-fit: cover; 
     display: block; 
     mix-blend-mode: soft-light; 
     -webkit-filter: grayscale(100%) contrast(1); 
     filter: grayscale(100%); opacity: 0.2;
}
section.right-side-content h6{ 
    text-transform: uppercase; 
    font-weight: 700; 
    font-size: 14px; 
    letter-spacing: 0.4px; 
    color: #3d404e; 
    position: relative; 
    padding-bottom: 30px; 
    color: #9193a4;
}
section.right-side-content h6:after{
    content: ''; 
    width: 30px; 
    height: 3px; 
    background: #ffbb3f; 
    position: absolute; 
    left: 0; 
    bottom: 0;
}
section.right-side-content h2{ 
    font-family: "Playfair Display"; 
    padding: 0; 
    font-size: 44px; 
    line-height: 56px; 
    margin-bottom: 30px;
}
section.right-side-content p{ 
    display: block; 
    font-size: 17px; 
    margin-bottom: 50px;
}
section.right-side-content .content-image{ 
    margin-right: -100px; 
    position: relative;
}
section.right-side-content .content-image img{ 
    width: 100%; 
    box-shadow: 0 20px 30px rgba(0,0,0,0.20);
}
section.right-side-content a{ 
    font-size: 1.6rem;
    line-height: 52px; 
    padding:10px 40px; 
    display:inline-block; 
    color:#fff; 
    background: #ffbb3f; 
    font-weight:700; 
    border-radius: 56px; 
    box-shadow: 0 20px 30px rgba(0,0,0,0.05); 
    border:2px solid transparent;
}
section.right-side-content a:hover{ 
    background: #fff; 
    color: #ffbb3f; 
    border: 2px solid #ffbb3f; 
    text-decoration: none;
}
/* ************ right-side-content *********************** */

/* ************ left-side-content*********************** */
section.left-side-content{
    width: 100%; 
    padding: 100px 0; 
    position: relative; 
    overflow:hidden;
    background-color: #fff;
}
section.left-side-content .side-image{
    width: 50%;
    height: 100%; 
    position: absolute; 
    left: 50%; 
    top: 0; 
    background: #ffbb3f; 
    overflow: hidden;
}
section.left-side-content .side-image:after{
    content: ''; 
    width: 100%; 
    height: 100%; 
    background: url(../images/right-image-mask.png) left top no-repeat; 
    position: absolute; 
    left: 0; 
    top: 0; 
    background-size: auto 100%;
}
section.left-side-content .side-image .bg-image{ 
    max-width: inherit; 
    min-width: 100%; 
    min-height: 100%; 
    width: 100%; 
    -o-object-fit: cover; 
    object-fit: cover; 
    display: block; 
    mix-blend-mode: soft-light; 
    -webkit-filter: grayscale(100%) contrast(1); 
    filter: grayscale(100%); 
    opacity: 0.2;
}
section.left-side-content h6{
     text-transform: uppercase; 
     font-weight: 700; 
     font-size: 14px; 
     letter-spacing: 0.4px; 
     color: #3d404e; 
     position: relative; 
     padding-bottom: 30px; 
     color: #9193a4;
}
section.left-side-content h6:after{
    content: ''; 
    width: 30px; 
    height: 3px; 
    background: #ffbb3f; 
    position: absolute; 
    left: 0; 
    bottom: 0;
}
section.left-side-content h2{
     font-family: "Playfair Display"; 
     padding: 0; 
     font-size: 44px; 
     line-height: 56px; 
     margin-bottom: 30px;
}
section.left-side-content p{
     display: block; 
     font-size: 17px;
    margin-bottom: 50px;
}
section.left-side-content .content-image{
     margin-left: -100px; 
     position: relative;
}
section.left-side-content .content-image img{
     width: 100%; 
     box-shadow: 0 20px 30px rgba(0,0,0,0.20);
}
section.left-side-content a{
    font-size: 1.6rem;
     line-height: 52px; 
     padding:10px 40px; 
     display:inline-block; 
     color:#fff; 
     background: #ffbb3f; 
     font-weight:700; 
     border-radius: 56px; 
     box-shadow: 0 20px 30px rgba(0,0,0,0.05); 
     border:2px solid transparent;
}
section.left-side-content a:hover{
     background: #fff; 
     color: #ffbb3f; 
     border: 2px solid #ffbb3f; 
     text-decoration: none;
}
/* ************ left-side-content *********************** */


 /* ************ WORK PROCESS *********************** */   
section.work-process{
     width:100%; 
     background-color: #fff; 
     text-align:center; 
     padding:100px 0; 
}
section.work-process h6{
     text-transform: uppercase; 
     font-weight: 700; 
     font-size: 14px; 
     letter-spacing: 0.4px; 
     color: #3d404e; 
     position: relative; 
     padding-bottom: 30px; 
     color: #9193a4;
}
section.work-process h6:after{
    content: ''; 
    width: 30px; 
    height: 3px; 
    background: #ffbb3f; 
    position: absolute; 
    left: 50%; 
    bottom: 0;
    margin-left: -15px;
}
section.work-process h2{ 
    font-family: "Playfair Display"; 
    padding: 0 10%; 
    font-size: 40px; 
    line-height: 60px; 
    margin-bottom: 50px;
}
section.work-process .circles{ 
    width:100%; 
    background-repeat:no-repeat;
    background-image:url(../images/process-circles.png); 
    background-size:100% auto;
}
section.work-process .circles .icon-border{ 
    width: 268px;
    height:268px; 
    border-radius:268px; 
    display:inline-block; 
    overflow:hidden; 
    border:2px solid #eee; 
    text-align:center; 
    padding-top:20px;
}
section.work-process .circles .icon-border:hover{ 
    border:2px solid #ffbb3f;
}
section.work-process .circles .icon-border:hover i {color:#ffbb3f;}
section.work-process .circles .icon-border i{
    font-size: 70px; 
    color: #000; 
    margin-top:31px; 
    display: inline-block;
}
section.work-process .circles .icon-border span{ 
    width:100%; 
    display:inline-block; 
    color:#9193a4; 
    font-size:22px; 
    font-weight:700; 
    padding-top:15px; 
    position:relative;
}
section.work-process .circles .icon-border span:after{
    content:''; 
    width:30px; 
    height:3px; 
    background:#ffbb3f; 
    position:absolute; 
    left:50%; 
    top:0; 
    margin-left:-15px;
}
 /* ************ WORK PROCESS *********************** */   



/* ************ WORK US *********************** */   
section.work-us{ 
    width:100%; 
    padding:100px 0; 
    background:#ffbb3f; 
    color:#fff; 
    text-align:center;
}
section.work-us h6{
     text-transform: uppercase; 
     font-weight: 700; 
     font-size: 14px; 
     letter-spacing: 0.4px; 
     color: #3d404e; 
     position: relative; 
     padding-bottom: 30px; 
     color: rgba(255,255,255,0.6);
}
section.work-us h6:after{
    content: ''; 
    width: 30px; 
    height: 3px; 
    background: #fff; 
    position: absolute; 
    left: 50%; 
    bottom: 0; 
    margin-left: -15px;
}
section.work-us h2{ 
    font-family: "Playfair Display"; 
    padding: 0 10%; 
    font-size: 40px; 
    line-height: 60px; 
    margin-bottom: 50px; 
    color: #fff;
}
section.work-us a{
     font-size: 1.6rem;
     line-height: 52px; 
     padding:10px 40px; 
     display:inline-block; 
     color:#fff; 
     background: #8a39ee; 
     font-weight:700; 
     border-radius: 56px; 
     box-shadow: 0 20px 30px rgba(0,0,0,0.05); 
     border:2px solid transparent;
}
section.work-us a:hover{ 
    background: transparent; 
    color: #fff; 
    border: 2px solid #fff; 
    text-decoration: none;
}
/* ************ WORK US *********************** */   


/* ************ LATEST NEWS *********************** */   
section.latest-news{ 
    width:100%; 
    padding:100px 0;
    background-color: #fff;
}
section.latest-news h6{ 
    text-transform: uppercase; 
    font-weight: 700; 
    font-size: 14px; 
    letter-spacing: 0.4px; 
    color: #3d404e; 
    position: relative; 
    padding-bottom: 30px; 
    color: #9193a4;
}
section.latest-news h6:after{
    content: ''; 
    width: 30px; 
    height: 3px; 
    background: #ffbb3f; 
    position: absolute; 
    left: 0; 
    bottom: 0;
}
section.latest-news h2{ 
    font-family: "Playfair Display"; 
    padding: 0; 
    font-size: 44px; 
    line-height: 56px; 
    margin-bottom: 30px;
}
section.latest-news .news-box-image{ width:100%;}
section.latest-news .news-box-image figure{ 
    width:100%; 
    position:relative;
}
section.latest-news .news-box-image figure img{ width:100%;}
section.latest-news .news-box-image figure div{ 
    width:100%; 
    height:100%; 
    position:absolute; 
    left:0; 
    top:0; 
    background:#3d404e; 
    opacity:0.5;
}
section.latest-news .news-box-image figure small{ 
    position:absolute; 
    left:40px; 
    top:40px; 
    color:#ffbb3f; 
    font-weight:700; 
}
section.latest-news .news-box-image figure i{ 
    width:40px; 
    height:40px; 
    border-radius:50%; 
    border:2px solid #ffbb3f; 
    position:absolute; 
    right:40px; 
    top:25px; 
    color:#ffbb3f; 
    text-align:center; 
    line-height:36px
}
section.latest-news .news-box-image figure figcaption{ 
    width:100%; 
    position:absolute; 
    left:0; 
    bottom:0; 
    padding:40px;
}
section.latest-news .news-box-image figure figcaption span{ 
    display:block; 
    color:#fff; 
    margin-bottom:10px; 
    font-size:17px;
}
section.latest-news .news-box-image figure figcaption h4{ 
    font-weight:700; 
    font-size:2rem; 
    color:#fff;
}
section.latest-news .news-box-image figure figcaption a{ 

    line-height: 36px; 
    display:inline-block; 
    font-weight:700; 
    font-size:1.6rem; 
    color:#ffbb3f; 
    border:2px solid #ffbb3f; 
    padding:5px 15px; 
    border-radius: 38px;
}
section.latest-news .news-box-image figure figcaption a:hover{ 
    background: #ffbb3f; 
    color: #fff; 
    text-decoration: none;
}
section.latest-news .news-box{ 
    width:100%; 
    border:1px solid #eee; 
    padding:30px 20px;
}
section.latest-news .news-box small{ 
    display:block; 
    font-weight:700; 
    color:#ffbb3f; 
    margin-bottom:20px;
}
section.latest-news .news-box h4{ font-weight:700; }
section.latest-news .news-box span{ 
    display:block; 
    color:#666; 
    font-size:2rem; 
    position:relative; 
    margin-bottom:30px; 
    padding-bottom:30px; 
    border-bottom:1px solid #eee;
}
section.latest-news .news-box span:after{
    content:''; 
    width:62px; 
    height:1px; 
    position:absolute; 
    left:0; 
    bottom:-1px; 
    background:#ffbb3f;
}
section.latest-news .news-box p{ 
    line-height:26px;
     margin-bottom:31px;
     font-size: 1.6rem;
}
section.latest-news .news-box a{ 
    line-height: 36px; 
    display:inline-block; 
    font-weight:700; 
    font-size:1.6rem; 
    color:#ffbb3f; 
    border:2px solid #ffbb3f; 
    padding:5px 15px; 
    border-radius: 38px;
}
section.latest-news .news-box a:hover{ 
    text-decoration:none; 
    background: #ffbb3f; 
    color: #fff;
}
/* ************ LATEST NEWS *********************** */   

/* ************ get-quote *********************** */   
.get-quote{ 
    width:100%;
    padding:100px 0; 
    background:url(../images/form-bg.jpg) center no-repeat; 
    background-size:cover;
}
.get-quote h6{ 
    text-transform: uppercase; 
    font-weight: 700; 
    font-size: 14px; 
    letter-spacing: 0.4px; 
    color: #3d404e; 
    position: relative; 
    padding-bottom: 30px; 
    color: #9193a4;
}
.get-quote h6:after{
    content: ''; 
    width: 30px; 
    height: 3px; 
    background: #ffbb3f; 
    position: absolute; 
    left: 0; 
    bottom: 0;
}
.get-quote h2{ 
    font-family: "Playfair Display"; 
    padding: 0; 
    font-size: 44px; 
    line-height: 56px; 
    margin-bottom: 30px;
}

input[type="text"],textarea[type="text"] {
    height: 56px;
    padding: 0 15px;
    border: 1px solid #eee;
    font-size: 1.6rem;
}
input::-webkit-input-placeholder {
    text-overflow: inherit;
    white-space: pre;
    overflow-wrap: normal;
    line-height: initial !important;
    -webkit-user-modify: read-only !important;
    overflow: hidden;
}
button[type="submit"] {
    font-size: 1.6rem;
    line-height: 56px;
    padding: 10px 40px;
    display: inline-block;
    color: #fff;
    background: #ffbb3f;
    font-weight: 700;
    border-radius: 56px;
    box-shadow: 0 20px 30px rgb(0 0 0 / 5%);
    border: 2px solid transparent;
}
.get-quote form{ width:100%}
.get-quote form input[type="text"]{ width:100%; margin-top:-1px;}
.get-quote form input[type="text"].first{ width:50%;}
.get-quote form input[type="text"].second{ width:50%; border-left:none;}
.get-quote form textarea{ width:100%; margin-top:-1px; margin-bottom:0;}
.get-quote form button[type="submit"]{  border-radius: 0; ;}
.get-quote form button[type="submit"]:hover{ background: #8a39ee; border: 2px solid #8a39ee; color: #fff;}
/* ************ get-quote *********************** */   

/* ************ support-bar *********************** */   
.support-bar{ 
    width:100%;
    padding:30px 0; 
    background:#ffbb3f;
}
.support-bar img{ 
 width: 100px;
 margin-right:30px;
}
.support-bar h4{ 
    display:block; 
    font-size:30px; 
    color:#fff; 
    font-weight:700;
}
.support-bar h6{ 
    display:block; 
    font-size:17px; 
    font-weight:300; 
    color:#fff;
}
.support-bar a{ 
    font-size: 1.6rem;
    padding:10px 40px; 
    display:inline-block; 
    color:#fff; 
    background: #8a39ee; 
    font-weight:700; 
    border-radius: 56px; 
    box-shadow: 0 20px 30px rgba(0,0,0,0.05); 
    border:2px solid transparent; 
    margin: 12px 0;
    vertical-align: middle;
}
.support-bar a:hover{ 
    background: #fff; 
    color: #ffbb3f; 
    border: 2px solid #ffbb3f; 
    text-decoration: none;
}
/* ************ support-bar *********************** */   

/* FOOTER */
.footer{ width:100%;background:#3d404e; color:#fff;}
.footer p{ color:#fff;font-size: 1.6rem;}
.footer .footer-bar{ width:100%;  border-bottom:1px solid rgba(255,255,255,0.15); padding:25px 0; margin-bottom:40px;}
.footer .footer-bar .social-media{  margin:0; padding:0;}
.footer .footer-bar .social-media li{ margin:0; margin-right:10px; padding:0; list-style:none;}
.footer .footer-bar .social-media li a{font-size: 2rem; width:50px; height:50px;padding: 10px; display: block;  color:rgba(255,255,255,0.6); 
border:2px solid rgba(255,255,255,0.3); text-align:center; line-height:46px; border-radius:50%;}
.footer .footer-bar .social-media li a:hover{border:2px solid rgba(255,255,255,0.5); color:#fff;}
.footer .footer-bar address{ font-size: 1.6rem; width:250px;  margin:0; margin-top:6px; padding:0; font-weight:700;}
.footer .footer-bar address i{  font-size:40px; margin-right:10px;}
.footer .footer-bar address small{ display:block; font-weight:300; opacity:0.5;}
.footer .footer-title{ font-size: 1.6rem; width:100%;  font-weight:700; color:#fff; position:relative; border-bottom:1px solid rgba(255,255,255,0.15); padding-bottom:20px; margin-bottom:20px;}
.footer .footer-title:after{ content:''; width:62px; height:1px; background:#ffbb3f; position:absolute; left:0; bottom:-1px;}
.footer .newsletter{ width:100%;  margin-bottom:20px;}
.footer .newsletter input[type="text"]{ width:70%;  margin-bottom:10px; border-radius: 0; color: #3d404e;}
.footer .newsletter button[type="submit"]{ width:28%; margin-bottom:10px; padding: 0; border-radius: 0;}
.footer .newsletter small{ width:100%;font-size: 1.6rem; }
.footer .video{  width: 100%;  position: relative;}
.footer .video img{ width: 100%; }
.footer .video .play-btn{ width: 66px;font-size: 2rem;padding: 15px ; display:inline-block; color:#fff; background: #ffbb3f; font-weight:700; border-radius: 66px; box-shadow: 0 20px 30px rgba(0,0,0,0.05); border:2px solid transparent; position: absolute; left: 50%; top: 50%; margin-left: -38px; margin-top: -38px; text-align: center;}
.footer .video .play-btn:after{content: ''; width: 86px; height: 86px; position: absolute; left: -12px; top: -12px; border-radius: 50%;  border: 10px solid rgba(0,0,0,0.3); }
.footer .video .play-btn:hover{ text-decoration: none; box-shadow: 0 20px 30px rgba(0,0,0,0.20);}
.footer .footer-menu{ width:100%;  margin:0; margin-top:-4px; padding:0;}
.footer .footer-menu li{ width:50%;  margin:0; margin-bottom:8px; padding:0; list-style:none;}
.footer .footer-menu li a{ font-size: 1.6rem; color:#fff;}
.footer .sub-footer{ width:100%; ; background:rgba(255,255,255,1); margin-top:40px; padding:20px 0;}
.footer .sub-footer .container{ font-size:12px; color:#7d7a7a;}
.footer .sub-footer .container a{font-size: 1.6rem; color:#7d7a7a; font-weight:700;}
.footer .sub-footer .container span{font-size: 1.6rem; color:#ffbb3f;}



@media (max-width: 768px) {
    header .TobBar ul li a  {
        font-size: 1.3rem;
    } 
    header .links a {
        font-size: 1.5rem;
    }
    #carouselExampleCaptions img {
        min-height: 100vh;
    }
    .video-intro .col-md-4 {
        margin-bottom: 50px;
    }

    section.left-side-content .side-image,
    section.right-side-content .side-image {
        display: none !important;
    }
    section.left-side-content .side-image:after,
    section.right-side-content .side-image:after{
        display: none !important;
    }
    section.work-process .circles {
        background-image: none !important;
    }
    
}
 
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	h2{font-size: 30px !important; line-height: 42px !important; padding: 0 !important;}
	h6{ font-size: 12px !important;}
	.navbar-default .navbar-brand img{height: 30px;}
	.navbar-default .top-bar .social-text{margin-left: 0;}
	.navbar-toggle{margin-top: 22px; border: none;}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background: none;}
	.navbar-default .navbar-toggle .icon-bar{ background: #fff;}
	.navbar-default.fixed-active .navbar-toggle .icon-bar{ background: #ffbb3f;}
	.navbar-default.fixed-active .since{display: none;}
	.cbp-spmenu{background: #9193a4; text-align: left; padding:20px 30px;}
	.cbp-spmenu .top-menu{ width: 100%;  margin: 0; margin-bottom: 20px; padding: 0;}
	.cbp-spmenu .top-menu li{ width: 100%;  margin: 3px 0; padding: 0; list-style: none;}
	.cbp-spmenu .top-menu li a{ color: #fff; font-size: 14px;}
	.cbp-spmenu .navbar-nav{ width: 100%;  margin: 0; padding: 0;}
	.cbp-spmenu .navbar-nav li{ width: 100%;  margin: 5px 0; padding: 0; list-style: none;}
	.cbp-spmenu .navbar-nav li a{ margin: 0; padding: 0; color: #fff !important;}
	.cbp-spmenu .navbar-nav li a:after{display: none;}
	.cbp-spmenu .navbar-nav li .dropdown-menu{ background: none !important; border:none !important; padding: 0; margin-bottom: 10px; padding-left: 10px;}
	.cbp-spmenu .navbar-nav li .dropdown-menu li{ width: 100%;  margin: 0; padding: 0;}
	.cbp-spmenu .navbar-nav li .dropdown-menu li a{padding: 0; margin: 2px 0; font-size: 12px;}
	.cbp-spmenu .search{  color: #fff !important;}
	.testimonials .testimonial-box{ width: 100%; margin: 50px 0;}
	.gallery ul li{ width: 100%;}
	.gallery ul li.big{ width: 100%;}
	.partners ul li{ width: 100%;}
	.work-process .circles{height: auto;}
	.work-process .circles .text-left{text-align: center;}
	.work-process .circles .text-right{text-align: center;}
	.work-process .circles .icon-border{ margin-bottom: 15px;}
	.our-offices .office-box{ width: 100%;}
	.support .support-box{text-align: center;}
	.support .support-box img{  margin-bottom: 10px;}
	.latest-news .news-box{margin-bottom: 30px;}
	.career .position-list li h5{ margin-bottom: 10px;}
	.pricing .price-box{ width: 90%; margin: 15px 5%;}
	.pricing .price-box.recommended{ margin-top:30px; }
	.blog .sidebar{padding-left: 0;}
	.blog .sidebar .widget{padding: 25px 0; border-left: 0;}
	.search-box.active{ z-index: 9999;}
	.search-box form{ padding: 0; text-align: center;}
	.search-box form input[type="text"]{ width: 100%; text-align: center;}
	.search-box form button[type="submit"]{ display: inline-block; }
	.support-bar a{ width: 100%; text-align: center;}
	.support-bar img{display: none;}
	.footer .footer-bar address i{ width: 35px; margin-bottom: 10px;}
	.footer .sub-footer .container{font-size: 11px;}
	.footer .sub-footer .text-right{ text-align: left;}
	.footer .sub-footer .col-xs-12{margin: 5px 0;}
}
@media (max-width: 500px) {
html {
 font-size: 60%;
}
}
  