@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Playfair+Display|Poppins:300,400,600,700&subset=latin-ext');
   
        
    *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
    outline: none !important;
    border: none;
    text-transform: capitalize !important;
    word-break: 1.5px !important;
    line-height: 1.6 !important;
    text-decoration: none !important;
    list-style: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
       
    html {
    font-family: 'Poppins';
    font-size: 60%;
    scroll-behavior: smooth !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden !important;
    }
    ::-webkit-scrollbar {
        max-width: 10px;
    }
    ::-webkit-scrollbar-track {

        background-color: rgba(160, 160, 160, 0.9);
    
    }
    body {
        min-height: 100vh;
    }

    
    input[type="text"],textarea[type="text"] {
        height: 56px;
        padding: 0 15px;
        border: 1px solid #eee;
        font-size: 1.6rem;
    }
    input::-webkit-input-placeholder {
        text-overflow: inherit;
        white-space: pre;
        overflow-wrap: normal;
        line-height: initial !important;
        -webkit-user-modify: read-only !important;
        overflow: hidden;
    }
    button[type="submit"] {
        font-size: 1.6rem;
        line-height: 56px;
        padding: 10px 40px;
        display: inline-block;
        color: #fff;
        background: #ffbb3f;
        font-weight: 700;
        border-radius: 56px;
        box-shadow: 0 20px 30px rgb(0 0 0 / 5%);
        border: 2px solid transparent;
    }


    @media (max-width: 500px) {
        html {
         font-size: 60%;
        }
        }
         